/* - - - GLOBAIS - - -*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body{
    width: 100%;
    background-image: url(img/black.jpg);
    background-position: top center;
    background-size: cover;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
h1{
    font-size: 50px;
}
p{
    font-size: 16px;
}
ul{
    list-style: none;
    margin-top: 30px;
}
li{
    font-size: 20px;
    margin-bottom: 20px;
}
/* - - - NAV - - -*/

nav{
    height: 90px;
    line-height: 90px;
}
nav a{
    text-decoration: none;
}
nav img{
    vertical-align: middle; 
}
nav a:nth-child(2){
    float: right;
}
/* - - - HEADER - - -*/

header{
    text-align: center;
}
header p{
    width: 45%;
    margin: 30px auto 0 auto;
}
header a{
    color: #ff4a50;
    text-transform: uppercase;
    text-decoration: none;
}
/* - - - MONTRA - - -*/
/* - - - oQueFazemos - - -*/
/* - - - trabalhos - - -*/
/* - - - FOOTER - - -*/
/* - - - responsive - - -*/